<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>tomokura</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <h1>tomokura（ロゴか写真）</h1>
  </header>

  <main>
    
  </main>

  <footer>
  </footer>

</body>
</html>