<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=devise-width, initial-scale=1.0" />
  <title>tomokura</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <%= render partial:'layouts/header' %>
  </header>
  あいうえお
</body>
</html>