

.main{
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  
}

.header{
  width: 100vw;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-right: 100px;
}

.header_sign_up{
  width: 100vw;
  height: 5vh;
  word-break:keep-all;
}

.header_sign_up li{
  margin-right: 20px;
  list-style: none;
  font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}

.back-img{
  width: 90vw;
  text-align: center;
  position: relative;
  text-align: center;
}



.title_section{
  background-color: rgba(255,255,255,0.7);
  font-size: 25px;
  color: #494949;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding: 100px 50px;
  width: 50%;
  height: 15vh;
  font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
  display: flex;
  align-items: center;
  justify-content: center;
}

ul.sign_up{
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100wh;
  height: 4vh;
}

section p{
  margin-bottom: 60px;
}

.sign_up li{
  text-decoration: none;
  background-color: #6ce5e8;
  border-radius: 10px;
  padding: 10px 0;
  margin-right: 40px;
  word-break:keep-all;
}

a{
  text-decoration: none;
  color: #494949;
  padding: 10px 20px;
}

.calendar-heading{
  text-align: center;
  font-size: 17px;
}

h2{
  margin: 70px 400px 0;
  font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
  font-size: 24px;
  color: #494949;
  border-bottom: dotted 3px #ff5757;
  padding-bottom: 10px;
}


.target{
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  padding-left: 40px;
  padding-right: 40px;
}

.functions{
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

ul{
  margin-top: 30px;
  font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
  color: #494949;
  font-size: 18px;
}

img.wallet{
  width: 280px;
}

img.house_work{
  width: 280px;
}

img.thank_you{
  width: 280px;
}

img.calender_prev{
  height: 300px;
}

img.graph{
  height: 300px;
}

img.function_thank_you{
  height: 300px;
}

.functions{
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 120px;
}

.function{
  border: solid 3px #ff5757;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}

footer{
  position: fixed;
  bottom: 0;
  left:0;
  background-color: rgba(255,87,87,0.3);
  width: 100%;
  height: 100px;
}

.footer_user{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 20px;
}

.footer_user li{
  margin-right: 40px;
  background-color: #fff;
  border-radius: 15px;
  padding: 5px 20px;
}