.total{
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 18px;
}

.main-page{
  width:90vw;
  margin-left: auto;
  margin-right: auto;
  font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}

.btn_new li {
  background-color: rgb(255, 94, 0);
  color: rgb(0, 0, 0);
  font-size: 20px;
  padding: 20px 40px;
  border-radius: 40px;
}

.btn_new{
  margin-top: 50px;

}

ul.btn_new{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}