.main{
  color: #494949;
  width: 100%;
  text-align: center;
}

.title{
  margin-left: 50px;
  height: 13vh;
  text-align: left;
}

h2 {
  font-size: 18px;
  text-align: center;
}

.field{
  font-size: 18px;
  margin-top: 10px;
  padding-top: 20px;
}

.form-text{
  font-size: 18px;
  font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}

.input-name{
  width: 200px;
  height: 20px;
  font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}

.input-email{
  width: 200px;
  height: 20px;
}

.input-password{
  width: 200px;
  height: 20px;
  font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}

.btn_sign_up{
  background-color: #ff5757;
  border: none;
  border-radius: 20px;
  margin-top: 50px;
  padding: 5px 30px;
  font-size: 18px;
  font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}


.error_messages li{
  list-style: none;
  text-align: center;
  padding-left: 0;
}
